
<!doctype html>
<html>


{%extends "layout.html"%}

   



{%block form%}
<div class="container" align="center">
<script type="text/javascript">
function toggle(source){
    checkboxes = document.getElementsByName('url');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

 <form action='' method='POST'  enctype="multipart/form-data">
  <h2 align="center"> Please choose the files to import</h2>
<input type="checkbox" name="all" id="all" onClick="toggle(this)" align="center"/> <label for='all'>Select All</label>
<div >

{%for i in url_list%}
<li><input type="checkbox" name="url" value={{i}} > {{i}}</li><br>
{%endfor%}

</div>
<br>
<input type='submit' class="btn btn-success" name='submit'align="center"></input>
</form>

</div   >
{%endblock%}
</body>
</html> 