<!DOCTYPE html>
<html>

<head>

</head>
{% extends "layout2.html" %}
 {% block form%}


<form  >
    <h1>         Welcome </h1>
    <br>
    <br>
  <button  type="submit"class="btn btn-success" formaction="/register">Register</button><br>
  <br>
  
  <br>
  <br>
  <button  type="submit" class="btn btn-danger" formaction="/login">Login</button>
</form>

{%endblock%}


</html>